---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content p {
  font-size: 0.7em;
}
.page__content li {
  font-size: 0.7em;
}
table {
  font-size: 0.6em;
}
#iframe {
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay {
  background:transparent;
  position:relative;
  width:100%; /* your iframe width */
  height:800px; /* your iframe height */
  top:800px; /* your iframe height */
  margin-top:-800px; /* your iframe height */
}
@media (min-width: 37.5em)
figure.three-quarters>a, figure.three-quarters>img {
    width: calc(75% - 0.5em);
}