---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

table {
  font-size: 0.6em;
}
#iframe {
    display: flex;
    align-items: center;
    justify-content: center;
}
